<!DOCTYPE html>
<html xmlns:th="http:\\www.thymeleaf.org">
<head th:replace ="fragments :: page_head('Categories -Shopme Admin','none')">
    </head>
<body>
<div class="container-fluid">
 <div th:replace ="navigation :: menu"></div>
    </div>
<div>
<h2> Manage Categories</h2>
<a th:href="@{/categories/new}">Create New Category</a>

 &nbsp;|&nbsp;
   
       <a th:href ="@{/users/export/csv}"> Export to csv</a>
      
        <div th:if ="${message != null}" class="alert alert-success text-center">
        [[${message}]]
   
     </div>

    <div th:replace ="fragments :: search_form('/categories/page/1')"></div>
       
    <table class ="table table-bordered table-striped table-hover table-responsive-xl">
       <thead class ="thead-dark">
        <tr>
           <th>Category Id</th>
            <th>Category Image</th>
           
           <th>
           <a class ="text-white" th:href ="@{'/categories/page/' + ${currentPage} + '?sortDir=' +  ${reverseSortDir} + ${keyword !=null ? '&keyword=' + keyword : ''}}"> Category Name</a>
               <span 
            th:class="${reverseSortDir =='desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"
            ></span>
               </th>
            <th>Category Alias</th>
             
            <th>enabled</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
              <tr th:each="category: ${listCategories}">
              <td>[[${category.id}]]</td>
              <td>
              <span th:if ="${category.image == null}" 
              class ="fas fa-portrait fa-3x icon-silver"></span>
              <img th:if ="${category.image !=null}" th:src ="@{${category.imagePath}}" style ="width:100px" />
              </td>
              <td>[[${category.name}]]</td>
              
              <td>[[${category.alias}]]</td>
              
              <td>   
              
              <a th:if ="${category.enabled == true}" class ="fas fa-check-circle fa-2x icon-green" href ="" ></a>
               
               <a th:if ="${category.enabled == false}" class ="fas fa-check-circle fa-2x icon-dark" href ="" ></a>
        </td>
              <td> 
              
<a class="fas fa-edit fa-2x icon-green" th:href ="@{'/categories/edit/' +${category.id}}" 
title ="Edit this category" ></a>
 &nbsp; 
 <a class ="fas fa-trash fa-2x icon-dark link-delete" th:href ="@{'/category/delete/' + ${category.id}}" th:userId ="${category.id}" title ="Delete this category" ></a>
              </td>
           </tr>
      </tbody>
     </table>
</div>
      <div th:if= "${keyword != null}" class= "text-center">
     <span>Search result does not show categories in hierarchical form</span>
     <div th:replace="fragments :: pagination('/categories' ,'categories')"></div>
     </div>
     <th:block th:unless= "${keyword != null}" >
    <div th:replace="fragments :: pagination('/categories' ,'top-level categories')"></div>
  </th:block>
<div th:replace="fragments :: footer"></div>

  </div>
  <script type="text/javascript">
  moduleURL ="[[@{/categories}]]";
  function clearFilter(){
 	 
 	 window.location ="[[@{/categories}]]";
  }
  </script>
</body>
</html>